*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(fighgt.jpg);
    background-position: 100%;
    background-size: cover;
    
}
.darshan{
    position:relative;
    height: 30rem;
    width: 20rem;
    background-color:rgba(255, 255, 255, 0.544);
    top: 10rem;
    border-radius: 3rem;
    text-align: center;
}
.d{
    height: 10rem;
    width: 10rem;
    position: relative;
    left: 5rem;
    background-image: url(darshan.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 0.05rem solid whitesmoke;
    box-shadow:
     0 0 0.5rem #fff,
    inset 0 0 0.5rem #fff,
    0 0 1rem #3877ff,
    inset 0 0 1rem #3877ff,
    0 0 1rem #3877ff,
    inset 0 0 1rem #3877ff;
}
.name{
    font-size: 1.5rem;
    position: relative;
    top:42%;
    background: linear-gradient(to right,rgba(55, 3, 243, 0.936), 45%,rgb(4, 202, 232));
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: grad 3s linear infinite;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes grad{
    0%{
        background-position: 0% 75%;
    }
    50%{
        background-position: 100% 30%;
    }
    100%{
        background-position: 0% 70%;
    }
}
.detail{
    position: relative;
    top: 10%;
    text-align: center;
}
.vs{
    position: relative;
    height: 20rem;
    width: 20rem;
    background-color:transparent;
    top: 15rem;
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to right,rgba(246, 247, 249, 0.942), 45%,rgb(33, 216, 253));
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: grad 3s linear infinite;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes grad{
    0%{
        background-position: 0% 75%;
    }
    50%{
        background-position: 100% 30%;
    }
    100%{
        background-position: 0% 70%;
    }

}
.subrahmanya{
    position: relative;
    height: 30rem;
    width: 20rem;
    background-color:rgba(255, 255, 255, 0.544);
    top: 10rem;
    border-radius: 3rem;
    text-align: center;
}
.s{
    height: 10rem;
    width: 10rem;
    position: relative;
    background-image: url(subbu.jpg);
    background-size: cover;
    background-color: transparent;
    left: 5rem;
    border-radius: 50%;
    border: 0.05rem solid whitesmoke;
    box-shadow:
     0 0 0.5rem #fff,
    inset 0 0 0.5rem #fff,
    0 0 1rem #de5302,
    inset 0 0 1rem #de5302,
    0 0 1rem #de5302,
    inset 0 0 1rem #de5302;

}
.name1{
    font-size: 1.5rem;
    position: relative;
    top:42%;
    background: linear-gradient(to right,rgba(236, 5, 5, 0.936), 45%,rgb(221, 207, 6));
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: grad 3s linear infinite;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes grad{
    0%{
        background-position: 0% 75%;
    }
    50%{
        background-position: 100% 30%;
    }
    100%{
        background-position: 0% 70%;
    }
}
.detail1{
    position: relative;
    top: 10%;
    text-align: center;
    
}
